td, th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 50px;
}
table {
    border-collapse: collapse;
}
td.victory {
    background-color: grey;
}
.borderless {
    border-color: white;
    border-style: none;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.round {
    width: 350px;
    margin: 10px;
}
.placement {
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #000;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
}
.roundName {
    text-align: right;
    font-weight: bold;
}