td, th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 50px;
}
table {
    border-collapse: collapse;
}
td.victory {
    background-color: grey;
}
.borderless {
    border-color: white;
    border-style: none;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.round {
    width: 350px;
    margin: 10px;
}