
<tr>
    <td class="borderless roundName">@RoundName</td>
    @foreach (var score in Round.Scores)
    {
        @if(GetScore(score, RoundNumber)==0) {
            <td class="victory"></td>
        } else {
            <td>@GetScore(score, RoundNumber)</td>
        }
    }
</tr>